{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to StockPilot</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="{% static 'images/stockpilot.png' %}" />
  </head>
  <body
    class="d-flex flex-column min-vh-100 justify-content-center align-items-center landing-bg"
  >
    <div
      class="text-center p-4 border rounded bg-white shadow"
      style="max-width: 800px"
    >
      <img
        src="{% static 'images/stockpilot.png' %}"
        alt="StockPilot Logo"
        class="img-fluid mb-3"
        style="max-width: 150px"
      />

      <h1 class="mb-3 text-dark">StockPilot Inventory</h1>
      <p class="mb-4 text-dark">This inventory management system tracks and controls your company's stock levels, orders, sales, and deliveries. It monitors
      product quantities, tracks stockouts and overstocking, and provides real-time visibility into
      inventory across multiple locations. This system helps  to optimize costs, improve efficiency, reduce waste, and ensure
      accurate inventory records for better decision-making and customer satisfaction.</p>

      <a href="{% url 'access_control' %}" class="btn btn-primary btn-lg">Access Application</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
