.inventory-card-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* added styles */
.page-wrapper {
    margin: 5px 10px;
}

.btn-sm.btn-danger {
    background-color: #e55353;
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 0.875rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-sm.btn-danger:hover {
    background-color: #c03939;
}

.btn-sm.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 4px 8px;
    font-size: 0.875rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-sm.btn-primary:hover {
    background-color: #0056b3;
}

